langchain
langchain-core
langchain-community
langchain-mistralai

mistralai

faiss-cpu

sentence-transformers
transformers
torch

pypdf
python-docx
unstructured

python-dotenv

streamlit
chromadb
tiktoken
pypdf